[Desktop Entry]
Name=Discord
Comment=Chat for communities
Exec=discord
Icon=discord
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=Discord